body{
	background-color: #56b9aa;
}
nav a{text-decoration: none;
	color: whitesmoke;

}
nav{

}
.dos{
	list-style: none;
	color: black;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
}
div{

}
.serv1{
	background-color: #c1f0ad;
	border-radius: 10px;
	padding: 1px 1px 1px 1px;
}
.fijo{
	position: fixed;
	background-color: #ffff72;
	padding: 4px;
	margin-left: -8px;
	margin-top: -8px;
	width: 99.4%;
	font-size: 40px;
	font-style: italic;
	font-family: Constantia;
	font-weight: bold;
	

}
.prueba{
	width: 296px;
	padding: 1em;
	background-color: cyan;
	margin-left: -8px;
	list-style: none;
	text-decoration: none;
	font-size: 20px;


}
.parte2{
	padding: 1em;
	background-color: beige;
	width: 973px;
	height: 2590px;
	margin-left: 316px;
	margin-top: -221px;
}
.final{
	margin-left: -8px;
	margin-bottom: -8px;
	height: 80px;
	width: 1349px;
	background-color: #ff9800;
}
ul{
	list-style: upper-roman;

}
ul a{
	text-decoration: none;
}
img{
	margin-top: -90px;
	margin-left: 600px;
}
